* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6b9794;
}

h2 {
    font-size: 55px;
    color: #6b9794;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 25%;
}

/* Navigation Bar */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    padding: 20px;
}

/* logo used in footer as well */

.logo {
    color: #6b9794;
    width: 40px;
    height: 40px;
}

.logo use:hover {
    color:pink;
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover{
     color: pink;
}


/* Landing and hero image */
header {
    background: url('assets/images/a.jpeg') no-repeat 50% fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    transform: scale(1);
}

header section span {
    filter: drop-shadow(0px 0px 5px #222);
}

#main-profile-photo {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 600px;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}

header main {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

header main h1 b{
  font-size: 3em;
  font-style: italic;
  color: #e0b0d5;
}

header main p {
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}

/* About me and Skills */
#about-me {
    padding-top: 75px;
    padding-bottom: 150px;
}

#about-me, #skills {
    background-color:#222;
}

.about-skills-photo {
    filter: drop-shadow(0px 0px 10px #101211);
}

#skills {
    padding-bottom: 50px;
}

.diamond {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 400px;
}

#about-container {
    display: flex;
    justify-content: space-around;
    margin: 0 300px;
    padding-top: 50px;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    margin: 0 300px;
}

#about-container-text {
    width: 300px;
    text-align: center;
    padding: 30px;
    border-radius: 89px;
    background: #222222;
    box-shadow: inset -12px 12px 10px #151515,
                inset 12px -12px 10px #2f2f2f;
}

#skills-container-text {
    width: 300px;
    text-align: center;
}

#skills-container-text li {
    list-style-type: none;
    line-height: 25px;
    margin-top: 27px;
    margin-left: 50px;
}


/* Star project  */
.gradient {
    background-image: linear-gradient(#222, #121619);
    height: 200px;
}

#main-project-img {
    width: 900px;
    padding: 40px 40px;
    border-radius: 66px;
    background: #121619;
    box-shadow:  8px 8px 16px #080a0b,
                 -8px -8px 16px #1c2227;
}

#main-project {
    background: #121619;
    padding-top: 75px;
    padding-bottom: 70px;
}

#main-project-display {
    display: flex;
    justify-content: center;
}

section article h3 {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

#main-project article p {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

/* portfolio */
#gradient-2 {
    background-image: linear-gradient( #121619 ,#222);
    height: 200px;
}

#portfolio {
    background-color: #222;
    padding-top: 75px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 80px;
}

.portfolio-card div {
    padding: 40px;
    border-radius: 89px;
    background: #222222;
    box-shadow: inset -12px 12px 10px #151515,
                inset 12px -12px 10px #2f2f2f;
}

.portfolio-card h4 {
    font-size: 30px;
    padding-top: 20px;
}

.portfolio-card img {
    width: 600px;
    height: 400px;
    border-radius: 55px;
}

#portfolio-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

/* contact page */
#contact {
    padding-top: 75px;
    padding-bottom: 150px;
    background-color: #121619;
}

#contact-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 300px;
    margin-top: 150px;
}

.image-wrap:hover {
    filter: drop-shadow(0px 0px 5px #6b9794);
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    line-height: 30px;
    border-radius: 66px;
    background: #121619;
    box-shadow:  8px 8px 16px #080a0b,
                 -8px -8px 16px #1c2227;
                padding: 40px;
}

#contact-card span {
    filter: drop-shadow(0px 0px 15px #83EEFF);
}

#button {
    width: 100px;
    position: relative;
    margin: auto;
    margin-top: 15px;
    color: black;
}

#message {
    height: 200px;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121619;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .logo {
    margin-left: 30px;
}

footer ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 30px;
}

footer ul li {
    padding: 10px;
}

footer ul li a {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

/* contact media query form fix */
@media (max-width: 1500px) {
    #contact-form {
        margin-top: 50px;
    }
}

/* Large Width */
@media (max-width: 1300px) {
    /* Everything below 1300*/
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 300px;
        align-items: center;
    }

    .diamond {
        width: 400px;
    }

    #about-container-text {
        margin-top: 30px;
        width: 700px;
    }

    #main-project-img {
        width: 600px;
    }

    #portfolio-container {
        flex-direction: column;
        align-items: center;
    }


}

/* Medium Width */
@media (max-width: 800px) {
    /* Everything below 800 */
    #skills-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #skills-container-text {
        margin-right: 50px;;
    }

    #main-profile-photo {
        height: 400px;
        margin-bottom: 300px;
    }

    header main h1 b {
        font-size: 2em;
    }

    header {
        flex-direction: column-reverse;
        height: 1000px;
    }

    header main p {
        color: black;
    }

    #about-container-text {
        width: 400px;
    }

    .portfolio-card img {
        width: 500px;
        height: 350px;
    }

    #contact-card {
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    h2 {
        width: 50%;
    }
}

/* small Width */
@media (max-width: 615px) {
    /* everything below 615 */
    .diamond {
        width: 300px;
        height: 300px;
    }

    #about-container-text {
        width: 300px;
    }

    #main-project-img {
        width: 300px;
    }

    #about-container {
        margin: 0 auto;
    }

    #skills-container {
        margin: 0 auto;
    }

    .portfolio-card img {
        width: 300px;
        height: 170px;
    }

    #contact-card {
        margin: auto;
    }

    #contact-form {
        width: 200px;
    }
}

/* Extra Small Screens */
@media (max-width: 485px) {
    nav ul li {
        padding: 3px;
    }

    .logo {
        height: 20px;
        width: 20px;
    }

    #main-profile-photo {
        height: 250px;
        margin-bottom: 100px;
    }

    header main h1 b {
        font-size: 1.2em;
    }

    header{
        padding-top: 20px;
        height: 750px;
    }

    .diamond {
        width: 200px;
        height: 200px;
    }

    #main-project-img {
        width: 250px;
    }

    section article h3 {
        font-size: 20px;
    }

    #main-project-title {
        font-size: 40px;
    }

    #main-project-p {
        font-size: 18px;
    }

    .portfolio-card div {
        padding: 25px;
    }
}



